In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [12]:
df = pd.read_csv('../data/churn_cleaned.csv')
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned,BalancePerProduct,BalanceToSalary,EngagementScore,TenureGroup,CardTypeRank,Geography_Germany,Geography_Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,1,2,464,0.00,0.000000,2,Short,4,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,1,3,456,41903.93,0.744670,1,Short,4,0,1
2,502,1,42,8,159660.80,3,1,0,113931.57,1,1,3,377,39915.20,1.401362,1,Long,4,0,0
3,699,1,39,1,0.00,2,0,0,93826.63,0,0,5,350,0.00,0.000000,0,Short,2,0,0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0,5,425,62755.41,1.587035,2,Short,2,0,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CreditScore         10000 non-null  int64
 1   Gender              10000 non-null  int64
 2   Age                 10000 non-null  int64
 3   Tenure              10000 non-null  int64
 4   Balance             10000 non-null  float64
 5   NumOfProducts       10000 non-null  int64
 6   HasCrCard           10000 non-null  int64
 7   IsActiveMember      10000 non-null  int64
 8   EstimatedSalary     10000 non-null  float64
 9   Exited              10000 non-null  int64
 10  Complain            10000 non-null  int64
 11  Satisfaction Score  10000 non-null  int64
 12  Point Earned        10000 non-null  int64
 13  BalancePerProduct   10000 non-null  float64
 14  BalanceToSalary     10000 non-null  float64
 15  EngagementScore     10000 non-null  int64
 16  TenureGroup         10000 non-null  object
 17  CardTypeRank        10000 non-null  int64
 18  Geography_Germany   10000 non-null  int64
 19  Geography_Spain     10000 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 1.5+ MB

# Balance per Product
ðŸ‘‰ Why: A customer with a large balance but very few products might be disengaged (higher churn risk).

In [ ]:
# df['BalancePerProduct'] = df['Balance'] / (df['NumOfProducts'] + 1)

# Balance-to-Salary Ratio
ðŸ‘‰ Why: Measures reliance on the bank.
- High ratio â†’ customer stores most wealth in the bank (likely loyal).
- Low ratio â†’ customer may be disengaged.

In [ ]:
# df['BalanceToSalary'] = df['Balance'] / (df['EstimatedSalary'] + 1)

# Engagement Score
ðŸ‘‰ Why: Engagement reduces churn.
- Customers who are active and hold a credit card tend to stay longer.

In [ ]:
# df['EngagementScore'] = df['IsActiveMember'] + df['HasCrCard']

# Tenure Bucket
ðŸ‘‰ Why: Loyalty increases with time.
- Early churners behave differently than long-term customers.
- Short â†’ 0 to 3 years
- Mid â†’ 4 to 7 years
- Long â†’ 8 to 15 years

In [ ]:
# df['TenureGroup'] = pd.cut(
#     df['Tenure'], bins=[-1,3,7,15], labels=['Short','Mid','Long']
# )

# Card Type Rank

ðŸ‘‰ Why: Higher tier cards (Gold, Platinum, Diamond) may indicate stronger relationship with the bank.

In [ ]:
# card_map = {'SILVER':1, 'GOLD':2, 'PLATINUM':3, 'DIAMOND':4}
# df['CardTypeRank'] = df['Card Type'].map(card_map)

# Male = 0, Female = 1

In [ ]:
# df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Point Earned', 'BalancePerProduct',
       'BalanceToSalary', 'EngagementScore', 'TenureGroup', 'CardTypeRank',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

# No = 0, Yes = 1.

In [ ]:
# df['Complain'] = df['Complain'].map({'No':0, 'Yes':1})

# Why no Onehot encode
- Because 7-10 is more tenure than 4-6, which is more than 0-3.
- That ordering carries meaning â†’ models learn better with ordinal encoding.

In [ ]:
# mapping = {
#     'Short': 1,
#     'Mid': 2,
#     'Long': 3
# }
# df['TenureGroup'] = df['TenureGroup'].map(mapping)

In [19]:
df.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'Complain',
       'Satisfaction Score', 'Point Earned', 'BalancePerProduct',
       'BalanceToSalary', 'EngagementScore', 'TenureGroup', 'CardTypeRank',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [ ]:
# df.to_csv('../data/churn_feature_engineered.csv', index=False)